<mat-action-list class="solver">
  <h3 mat-subheader>Your Issues</h3>
  <mat-list-item *ngFor="let chat of userChats$ | async" (click)="router.navigateByUrl('/chats/' + chat.id)">
    <mat-icon mat-list-icon>chat</mat-icon>
    <h4 mat-line class="solver__lastMsg">{{chat.lastMsg ? chat.lastMsg : ''}}</h4>
    <p mat-line> {{chat.messages.length}} </p>
    <p>{{chat.newChat ? '' : 'New'}}</p>
    <mat-icon>navigate_next</mat-icon>
  </mat-list-item>
</mat-action-list>
<span class="fab"><button mat-fab color="primary" (click)="cs.create()"><mat-icon mat-icon>add</mat-icon></button></span>
