<div class="login">
  <div *ngIf=" auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="50px">
    <p>
      <span class="tag is-dark">{{ user.displayName }}</span>
      <span class="tag is-light">{{ user.uid }}</span>
    </p>


    <button class="button is-small" (click)="auth.signOut()">Sign Out</button>
    <hr>

    <button class="button" routerLink="/chats/UJrR0M10IK7VJDVCQIKF">Join Mega Chat 🎪</button>
    <button class="button is-info" (click)="cs.create()">Create New Chat</button>

    <hr>

    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul>
  </div>

  <ng-template #login>
    <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
  </ng-template>

</div>
<mat-action-list>
  <h3 mat-subheader>Your Issues</h3>
  <mat-list-item *ngFor="let chat of userChats$ | async" (click)="router.navigateByUrl('/chats/' + chat.id)">
    <mat-icon mat-list-icon>chat</mat-icon>
    <h4 mat-line>{{chat.id}}</h4>
    <p mat-line> {{chat.messages.length}} </p>
    <mat-icon>navigate_next</mat-icon>
  </mat-list-item>
  <!-- <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>{{note.name}}</h4>
    <p mat-line> {{note.messages.length}} </p>
  </mat-list-item> -->
</mat-action-list>