/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color--primary: #01009a;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;

  &__buttons {
    display: flex;
    align-items: center;
  }
}

.icon-back {
  margin-right: 1em;
  cursor: pointer;
}

.photo {
  border-radius: 50%;

  &--top {
    margin-left: 1em;
    padding: .3rem;
  }
}

.fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

* {
  box-sizing: border-box;
}

.msg {
  display: flex;
  align-items: center;

  &--right {
    justify-content: flex-end;

    .msg__photo {
      order: 1;
      margin-left: .5rem;
    }

    .msg__content {
      text-align: right;

      &:before {
        right: -10px;
        left: auto;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent $color--primary;
      }
    }
  }

  &__content {
    position: relative;
    margin: 1rem 10px;
    padding: 1em 1.5em;
    background: $color--primary;
    color: white;
    border-radius: 5px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      border-style: solid;
      border-width: 5px 10px 5px 0;
      border-color: transparent $color--primary transparent transparent;
    }
  }

  &__photo {
    flex-shrink: 0;
    width: 3rem;
  }

  .msg__image {
    margin: 0 10px;
    border-radius: 5px;
    width: 80%;
    height: auto;
  }
}

.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.chat {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
}

.chat__form {
  text-align: center;
  padding: 1rem 0;
  background: white;
  position: sticky;
  bottom: 0;

  > * {
    width: 100%;
  }
}

.router-outlet + * {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.no-hint {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.d-none{
  display: none;
}

.file-input{
  cursor: pointer;
}

.image-upload{
  position: absolute;
  right: -4px;
  top: 9px;
}
